@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body{
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    
    font-family: "Coming Soon", cursive;
}

#select-person{
    width: 200px;
    text-align-last: center;
    padding: 10px;
}

.add-todo-input{
    border: hidden;
    border-bottom: 1px dotted black;
    outline: none;
    width: 500px;
    font-family: "Coming Soon", cursive;
    font-size: 24px;
    text-align: center;
}

.add-todo-input:focus{
    border-bottom: 1px solid black;
}

.add-todo-container label{
    font-size: 25px;
    color: grey;   
}


/* ---------------- ToDos ---------------- */
.todo-item input{
    width: 20px;
    height: 20px;
}

input:checked + label{
    text-decoration: line-through;
    color: grey;
}